@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    --bg-color: #B8DBD9;
    --button-color: #04724D;
    --nav-color: #586F7C;
    --font-color-dark: #000000;
    --font-color-light: #F4F4F9;
    font-family: poppins, sans-serif;
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    /* padding-top: 50px; */
}

header nav{
    /* border: red solid; */
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px;
    background: linear-gradient(-90deg, var(--bg-color) 0%, 
    var(--nav-color) 80%) ;
    position: fixed;
    top: 0;
    width: 100%;
}

.bold{
    font-weight: 700;
}

.nav-links a{
    
    /* border: blue solid; */
    margin: 0 1rem;
    text-decoration: none;
    color: var(--font-color-dark);
}

.nav-links a:hover{
    color: #0e5425;
    transition: all 0.1s ease-in-out;
}

nav button{
    margin-right: 4rem;
   background-color: var(--button-color);
   border: none;
   padding: 10px;
   color: var(--font-color-light);
   border-radius: 10px;
   cursor: pointer;
}

nav button:hover{
    background-color: #17a877;
    transition: all 0.2s ease-in;
}

.Home{
    /* border: #04724D solid; */
    padding-top: 50px;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-100deg, var(--font-color-light), var(--bg-color) 90%);
}

.Home h1{
    font-size: 50px;
    margin: 0;
}

.Home p{
    margin: 0;

    font-style: italic;
    font-size: 20px;
}

.About{
    height: 100vh;
    padding: 60px 30px 0;
    background-color: var(--bg-color);
}

.About h1{
    font-size: 50px;
    margin: 70px 0 0;
}
.About h1{

}

.About p{

}

#Projects{
    height: 100vh;
    background-color: var(--bg-color);
}
.image-class {
 
     border-radius: 20%;
     border: 5px;   
     border-right-style: groove;
     border-color: rgb(186, 174, 174);
     
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px; 
  }
  
  .image-class img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .project_container{
    display: flex;
    flex-direction: row;
  }
/*.project_name_and_image{
    display:flex;
    align-items: center;

}*/