@import'utilities.css';
:root{
    --primary:rgb(29,221,189);
    --bgdark:rgb(12,12,12);
   
   --second:rgb(0,59,50);
   --bglight:rgb(190,180,180);

}
*{
    padding:0;
    margin:0;
    box-sizing:shadow;
}
header{
    background-color:var(--bgdark)
    header nav.left a{
        color:white;
        text-decoration:none;
        margin-right:2rem ;
        
        transition:all.2s ease;
    }
    header nav.left a :hover{
        color:var(--primary);

    }
    header nav{
        padding:2rem 0;
    }
    header nav.logo{
        margin-right:3rem
    }
}
